.home {
  background-image: url("https://i.pinimg.com/564x/29/8f/da/298fdab6747599714130d5670b81ceee.jpg");
  background-repeat: repeat;
  padding: 20px 0px;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  margin-bottom: 1em;
}
